.container {
  color: #ffffff;
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
  border-radius: 20px;
  margin: auto 20px 0px;
  max-width: 430px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 45px;
  padding-bottom: 20px;
}

h2 {
  font-size: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -40px;
  left: -20px;
}
h3 {
  font-size: 18px;
  text-align: center;
}

h4 {
  color: white;
  font-size: 15px;
}
h6 {
  font-size: 12px;
}
.search-bar {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px 0px 10px 10px;
}
.col-8 {
  padding: 0px 30px 0px 20px;
}
.col-3 {
  padding: 0px 15px 0px 0px;
  position: relative;
  left: -20px;
}

.col-1 {
  position: relative;
  padding: 0px 20px 0px 0px;
  left: -28px;
}
.col-7 {
  text-align: left;
}

.col-5 {
  padding: 0;
}

.mainTemp {
  position: relative;
  right: -25px;
  top: -20px;
}
.convert {
  font-size: small;
  position: relative;
  top: -70px;
  right: -5px;
}
.weather-icon {
  position: relative;
  top: -42px;
  left: -20px;
}

.label {
  font-size: 12px;
  padding: 10px 10px 5px 15px;
  display: flex;
  flex-direction: row;
}
.label:after {
  content: "";
  flex: 1 1;
  border-bottom: 0.2px solid #fff;
  margin: auto;
  margin-left: 10px;
}
.details {
  position: relative;
  right: 0px;
  padding: 10px 30px 15px 10px;
  display: block;
}
.currentH {
  display: block;
  color: black;
}
h5 {
  font-size: 15px;
  text-align: center;
}
.week {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.source-code {
  position: relative;
  left: 25px;
  font-size: small;
}
