.container {
  color: #ffffff;
  background-image: linear-gradient(to left, #bdbbbe 0%, #9d9ea3 100%),
    radial-gradient(
      88% 271%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(254, 254, 254, 0.25) 1%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    radial-gradient(
      50% 100%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: normal, lighten, soft-light;
  border-radius: 20px;
  margin: auto 20px 0px;
  max-width: 430px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 0;
}
.search-bar {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 10px 0px 10px 10px;
}
.col-3 {
  position: relative;
  left: -15px;
}

.col-1 {
  padding: 0%;
  position: relative;
  left: -24px;
}
.col-7 {
  text-align: left;
}

h4 {
  font-size: 18px;
  text-align: center;
}
.col-5 {
  padding: 0;
}
.mainTemp {
  position: relative;
  right: -30px;
}
.convert {
  font-size: small;
  position: relative;
  top: -50px;
  left: -3px;
}
.details {
  display: flex;
  position: relative;
  left: -7px;
  justify-content: space-around;
}

h5 {
  font-size: 15px;
  color: #9d9ea3;
}
.week {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.source-code {
  position: relative;
  left: 25px;
  font-size: small;
}
